<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='/js/script.js'></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.min.css'>
    <link rel="stylesheet" href="codemirror/lib/codemirror.css">
    <script src='/js/bootstrap.js'></script>
    <link rel="stylesheet" href="codemirror/theme/monokai.css">
    <title>Document</title>
</head>
<body>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb" id="bread">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Your Project Name</li>
    </ul>
  </nav>
  <div class="row" style="padding: 5px 5px 0 0;">
    <div class="col-2" style="padding: 5px 5px 0 0;">
      <div class="list-group">
        <% list.forEach(item => { %>
          <button class="list-group-item list-group-item-action" ondblclick="selectCode('<%= item.id %>','<%= item.name %>')"><%= item.name %></button>
        <% }) %>
      </div>
    </div>
    <div class="col-9" style="padding: 5px 5px 0 0;">
      <textarea id="myTextarea" name="myTextarea"></textarea>
    </div>
    <div class="col-1" style="padding: 5px 5px 0 0;">
      <div class="btn-group-vertical">
        <!-- ADD -->
        <button class="btn btn-primary" style="text-align: center;" data-toggle="modal" data-target="#exampleModal">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
        <!-- ADD -->
        <button class="btn btn-success" style="text-align: center;">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
          </svg>
        </button>
        <!-- SAVE -->
        <button class="btn btn-info" style="text-align: center;">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
        <!-- DELETE -->
        <button class="btn btn-danger" style="text-align: center;" onclick="deleteFile()">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="POST" action="addNewFile">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="basic-url">Filename:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Your Project Name/</span>
          </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="filename">
            <input type="hidden" name="userid" value="<%= user %>">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    </form>
  </div>
</div>
</body>
<script src="codemirror/lib/codemirror.js"></script>
<script src="codemirror/mode/sql/sql.js"></script>
<script>
  var CodeId;
  var editor = CodeMirror.fromTextArea(myTextarea, {
    lineNumbers: true,
    styleActiveLine: true,
    matchBrackets: true,
    lineWrapping: true,
    mode: "sql"

  });
  editor.setOption("theme", "monokai");
  function selectCode(id,name){
    var response = httpGet('http://localhost:3000/getCode?id=' + id);
    editor.setValue(response)
    var bread = document.getElementById('bread');
    if(bread.getElementsByTagName("li").length == 2){
      bread.innerHTML += '<li class="breadcrumb-item"><a>' + name + '</a></li>'
    } else {
      bread.getElementsByTagName("li")[2].remove();
      bread.innerHTML += '<li class="breadcrumb-item"><a>' + name + '</a></li>'
    }
    CodeId = id;
  }
  function httpGet(theUrl)
  {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
  }
  function deleteFile(){
    if (typeof CodeId !== 'undefined')
    {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open( "GET", 'http://localhost:3000/deleteFile?id=' + CodeId + '&userid=<%= user %>', false ); // false for synchronous request
      xmlHttp.send( null );
      window.location.replace("http://localhost:3000");
    }else {
      alert('Choose Project')
    }
  }
</script>
<style>
  /* Editor params */
.CodeMirror {
  height: 600px;
}
</style>
</html>